<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<!--/*@thymesVar id="userTaskList" type="rs.fon.plannerx.core.task.domain.UserTaskList"*/-->
<!--/*@thymesVar id="sharedUserTaskLists" type="java.util.Map"*/-->
<table class="table table-hover caption-top mt-5">
    <caption class="text-center border-5 border-bottom mb-3 position-relative">
        <div class="col-12">
            <i class="fas fa-tasks fa-2x"> Task lists</i>
        </div>
        <div class="position-absolute top-50 end-0 translate-middle-y">
            <a aria-expanded="false" class="btn btn-light collapse-expand-all" data-bs-toggle="collapse"
               id="collapse-expand-all-btn"
               type="button">
                <i class="fas fa-expand-alt"></i>
                <i class="fas fa-compress-alt"></i>
            </a>
        </div>
    </caption>
    <thead>
    <tr>
        <th class="border-0" colspan="2">
        </th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="element : ${sharedUserTaskLists}">
        <!--/*@thymesVar id="taskList" type="rs.fon.plannerx.core.task.domain.TaskList"*/-->
        <th:block th:with="taskList=${element.key}">
            <tr>
                <td>
                    <a aria-expanded="false"
                       class="text-reset text-decoration-none task-table-expand-btn"
                       data-bs-toggle="collapse"
                       role="button"
                       th:attr="aria-controls='collapse-list-id-'+${taskList.getId()}"
                       th:href="'#collapse-list-id-'+${taskList.getId()}">
                        <i class="fa fa-chevron-right"></i>
                        <i class="fa fa-chevron-down"></i>
                        &nbsp;
                        <th:block th:text="${taskList.getName()}">Task name</th:block>
                    </a>
                </td>
                <td style="width: 3rem;">
                    <th:block th:replace="components/modal/share-task-list :: shareTaskList(${taskList})"></th:block>
                </td>
            </tr>
            <tr class="collapse no-hover collapse-list " th:id="'collapse-list-id-'+${taskList.getId()}">
                <td colspan="2">
                    <th:block
                            layout:insert="~{components/tasklist/table/shared-task-list-item :: sharedUsersTable(${element.value})}"></th:block>
                </td>
            </tr>
        </th:block>
    </th:block>
    </tbody>
</table>