<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title layout:title-pattern="$LAYOUT_TITLE > $CONTENT_TITLE">PlannerX</title>

    <link href="/common/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/common/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/common/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/common/site.webmanifest" rel="manifest">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link layout:fragment="add-css">
</head>
<body>
<th:block sec:authorize="isAuthenticated()">
    <header sec:authorize="hasRole('ROLE_ADMIN')" th:replace="components/navbar/admin :: header"></header>
    <header sec:authorize="hasRole('ROLE_REGULAR')" th:replace="components/navbar/default :: header"></header>
</th:block>

<th:block th:replace="components/message/message-dialog"></th:block>

<div class="container py-4 mb-5">
    <div layout:fragment="content"></div>
</div>

<footer th:replace="components/footer/default :: footer"></footer>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
<script layout:fragment="add-js"></script>

</body>
</html>