<!DOCTYPE html>
<html layout:decorate="~{layout/layout_main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="#{homepage.title}"></title>
</head>
<body>
<section layout:fragment="content" style="background-color: #eee;border-radius: 1em">
    <div class="container h-100 homepage">
        <div class="row d-flex justify-content-center align-items-center h-100 pb-5">

            <div class="col-lg-6 col-md-6 col-12 mt-5">
                <a th:class="nounderline" th:href="${@SiteMap.MY_TASK_LISTS}">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row">
                                <div class="display-5 text-center">
                                    <div class="d-flex flex-row align-items-center">
                                        <i class="fas fa-tasks"></i>
                                        <div class="form-outline flex-fill mb-0"
                                             th:utext="#{homepage.label.my_tasks}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-md-6 col-12 mt-5">
                <a th:class="nounderline" th:href="${@SiteMap.SHARE_TASKS}">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="display-5 text-center">
                                    <div class="d-flex flex-row align-items-center">
                                        <i class="fas fa-share-square"></i>
                                        <div class="form-outline flex-fill mb-0"
                                             th:utext="#{homepage.label.shared_tasks}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-md-6 col-12 mt-5">
                <a th:class="nounderline" th:href="${@SiteMap.ACCOUNT_PAGE}">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="display-5 text-center">
                                    <div class="d-flex flex-row align-items-center">
                                        <i class="fas fa-user-circle"></i>
                                        <div class="form-outline flex-fill mb-0"
                                             th:utext="#{homepage.label.my_account}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-md-6 col-12 mt-5">
                <a th:class="nounderline" th:href="${@SiteMap.INVITE_USER}">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="display-5 text-center ">
                                    <div class="d-flex flex-row align-items-center">
                                        <i class="fas fa-paper-plane"></i>
                                        <div class="form-outline flex-fill mb-0" th:utext="#{homepage.label.invite}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

</body>
</html>