<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<div class="card">
    <div class="card-header text-center" th:utext="user.info.title">
    </div>
    <!--/*@thymesVar id="user" type="rs.fon.plannerx.core.account.domain.User"*/-->
    <div class="card-body no-hover">
        <div class="row">
            <div class="col-6">

                <div class="mb-3 row">
                    <label class="col-sm-6 col-form-label" for="username"
                           th:utext="#{user.info.label.username}"></label>
                    <div class="col-sm-6">
                        <input class="form-control" id="username" readonly th:value="${user.getName()}"
                               type="text">
                    </div>
                </div>


                <div class="mb-3 row">
                    <label class="col-sm-6 col-form-label" for="surname"
                           th:utext="#{user.info.label.surname}"></label>
                    <div class="col-sm-6">
                        <input class="form-control" id="surname" readonly th:value="${user.getSurname()}"
                               type="text">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-6 col-form-label" for="email"
                           th:utext="#{user.info.label.email}"></label>
                    <div class="col-sm-6">
                        <input class="form-control" id="email" readonly th:value="${user.getEmail()}"
                               type="text">
                    </div>
                </div>

            </div>
            <div class="col-6">

                <div class="mb-3 row">
                    <label class="col-sm-6 col-form-label" for="role"
                           th:utext="#{user.info.label.role}"></label>
                    <div class="col-sm-6">
                        <input class="form-control" id="role" readonly th:value="${user.getRole().getRoleName()}"
                               type="text">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-6 col-form-label" for="active"
                           th:utext="#{user.info.label.active}"></label>
                    <div class="col-sm-6">
                        <input class="form-control" id="active" readonly th:value="${user.isActive()}"
                               type="text">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>